<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kc345ws.knapsackproblemms">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ZeroOne.Zeroone_showprice"
            android:label="查看物品效益"></activity>
        <activity android:name=".ZeroOne.Zeroone_addprice"
            android:label="填写物品效益"/>
        <activity
            android:name=".ZeroOne.zeroone_showweight"
            android:label="查看物品质量" />
        <activity
            android:name=".ZeroOne.Zeroone_addweight"
            android:label="填写物品质量" />
        <activity
            android:name=".ZeroOne.Zerooneproblem"
            android:label="0-1背包问题" />
        <activity
            android:name=".Simple.Simpleshow"
            android:label="查看每件物品质量" />
        <activity
            android:name=".Simple.SimpleInput"
            android:label="填写每件物品质量" />
        <activity
            android:name=".Simple.Simpleproblem"
            android:label="简单背包问题" />
        <activity
            android:name=".selectmenu"
            android:label="选择功能菜单" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>